<div *ngIf="sidebarData?.id">
  <div class="root" *ngIf="sidebarData?.isFolder">
    <div class="folder" (click)="onExpanded()">
      <span>📂 {{ sidebarData.name }}</span>
      <div>
        <button title="Add Folder" (click)="onAddButton($event, true)">
          📂
        </button>
        <button title="Add File" (click)="onAddButton($event, false)">🗄</button>
        <button title="Delete Folder" (click)="onDeleteFileFolder()">🚮</button>
      </div>
    </div>
    <div *ngIf="expanded" [ngStyle]="{ 'padding-left': '25px' }">
      <div *ngIf="showInput.isVisible" class="input-container">
        <span *ngIf="showInput.isFolder">📁</span>
        <span *ngIf="!showInput.isFolder">🗄</span>
        <input
          class="input"
          focus
          type="text"
          (blur)="focusOut()"
          (keydown)="onAddFolder($event)"
        />
      </div>
      <div class="items" *ngFor="let item of sidebarData.items">
        <app-sidebar [sidebarData]="item"></app-sidebar>
      </div>
    </div>
  </div>
  <div class="file" *ngIf="!sidebarData?.isFolder">
    <span>🗄 {{ sidebarData.name }}</span>
    <div>
      <button title="Delete File" (click)="onDeleteFileFolder()">🚮</button>
    </div>
  </div>
</div>
